
body,html{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
main{
 overflow-y: scroll;
 overflow-x: hidden;
 width: 100%;
 height: 400vh;

}
.App-container{
  width: 100%;
}
.screen{
  height: 100vh;
  width: 100vw;
  position: relative;
}


header{
  position: fixed;
  z-index: 100;
  height: 10%;
  width: 100%;
  top: 10%;
  display: flex;
  justify-content: center;
}
#topbar{
  width: 80%;
  height: 100%;
  position: absolute;
  z-index: 10;
}
#headerbtncontainer{
  position: absolute;
  z-index: 12;
  display: flex;
  justify-content: space-evenly; 
  width: 80%;
  height:100% ;
}

#textsec1{
  position: absolute;
  z-index: 18;
  top: 60%;
  left: 65%;
  text-align: right;
}
.screen1text{
  font-family: 'Alfa Slab One';
  color: white;
  margin: 0;
  
}
h1{
  font-size: 4rem;
}
h2{
  font-size: 3rem;
}
h3{
  font-size: 1.5rem;
}

#screen2-components{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10;
  top: 10%;
  left: 0;
}

#sobremi, #habilidades {
  width: 45%; 
  height: 80%; 
  align-self: center;

}
#projectscontainer{
  position: absolute;
  z-index: 20;
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  top: 10%;
  
}
#projectsec{
 width: 100%;
 height: 70%;
 display: flex;
 align-items: center;
 justify-content: space-evenly;
}
#bannersec{
  
  width: 100%;
  height: 10%;
}
#robolingo, #rampagearena, #feufighters{
    width: 15%;
    height: auto
    
}
#banner{
  width: 100%;
  height: 100%;
  
  
}
#bannersec2{
  
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
}
#contactssec{
 width: 100%;
 height: 80%;
 display: flex;
 justify-content: center;
}
#contactscontainer{
  position: absolute;
  z-index: 20;
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  
}
#banner2{
  width: 90%;
  height: 100%;
  margin-top: 10%;
}
#contactos{
 width: 50%;
 height: auto;
 margin-top: 15%;
}
.backgrounds{
  position: absolute;
  z-index: -3;
  width: 100%;
  height: 100%;
}
.headerbtn{
  background: transparent;
  border: none;
  text-decoration: none;
  cursor: pointer;
  font-family: 'Krona One';
  color: white;
  font-size: 1.5rem;
}
@keyframes carouselScroll{
  from{transform: translateX(0);}
  to{transform: translateX(-50%); }
}
#screen1bckgs{
   white-space: nowrap;
    display: flex;
    align-items: center;
  animation: carouselScroll 10s linear infinite;
}
#screen2bckgs{
   white-space: nowrap;
    display: flex;
    align-items: center;
  animation: carouselScroll 10s linear infinite;
}